.nav-link:hover{
    font-weight: 700; 
}

header{

    display: flex;
    justify-content: space-between;
}

#cart-icon{
    position: absolute; /*ez nagyon fontos a láthatóság miatt*/
    top: 10px; /*pozícionálni kell*/
    right: 10px;
    margin: 1rem 2.5rem 0 0;
    font-size: 1.5rem;
    /* width: 1.9rem; */
    cursor: pointer;
    z-index: 2;
}

#cart-icon:hover{
    color: #5fc7ec;
    transition: color 0.6s ease;
  
}

.kivalaszt{
   
    margin-top: 2rem;
    margin-left: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Teljes box s */
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    flex: 1 1 300px; 
    max-width: 300px; 
    max-height: fit-content; 
    
}

.btn{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Teljes box s */
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;

}

.btn-torol{
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: 0.4rem;

}


.btn:hover{
    box-shadow: 0 3px 14px #5fc7ec; /* Teljes box shadow */
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    font-weight: 700;
    

}

.btn-torol:hover{
    box-shadow: 0 3px 14px #5fc7ec; /* Teljes box shadow */
    transition: box-shadow 0.3s ease; /* Átmenet a hover állapothoz */
    font-weight: 700;

}

.price{
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Teljes box shadow */
    transition: box-shadow 0.3s ease;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.4rem;

}

.custom{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Alsó box shadow */
    border: 1px solid transparent;

   
}

.aside{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(250, 250, 250);
    color: black;
    width: 60%;
    padding: 3.8rem 1rem;
    transition: transform 350ms ease-in-out;
    transform: translateX(100%);
    z-index: 1;
     

}

.aside.active{
    transform: translateX(0);
    box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.2); /* Belső shadow */
    border-radius: 0.4rem;
    
    
   

}

.menu{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(25% 25% 25%); 


}

.vasaroltam{
    flex: 1 1 200px; 
    max-width: 200px; /* Maximalizálja a kártyák szélességét */
    max-height: fit-content;
    
  
   

}



@media (max-width: 768px) {
    .kivalaszt {
        flex: 1 1 200px; /* Kisebb kártyák tabletes nézetben */
        max-height: fit-content;
    }
    .price{
        font-size: smaller;
        box-shadow: none;
    }
}

